<template>
  <div>
    <Page heading="This is an about page">
      <img src="@/assets/about.svg" class="w-1/2" />
    </Page>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Page from '@/components/Page.vue'

export default defineComponent({
  name: 'About',
  components: { Page },
})
</script>
