<template>
  <div>
    <Page heading="This is a home page">
      <img src="@/assets/home.svg" class="w-1/2" />
    </Page>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Page from '@/components/Page.vue'

export default defineComponent({
  name: 'Home',
  components: { Page },
})
</script>
